.header {
  background-color: #ffe9e8;
  color: #3a4659;
  padding: 20px 0;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.heading {
  margin-left: 20px;
  font-size: 2em;
  text-align: left;
}

.nav {
  margin-right: 20px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  color: #3a4659;
  font-weight: bold;
}

.nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .heading {
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav {
    margin-right: 0;
  }

  .nav ul {
    flex-direction: row;
    gap: 10px;
  }
}
